[Desktop Entry]
Name=ArchBlueSpace
X-KDE-PluginInfo-Author=luccacondratiuk
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=jluccacondratiuk@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=ArchBlueSpace
X-KDE-PluginInfo-Version=1.0.0
